* {
  margin: 0px;
  padding: 0px;
  
}
*, *::before *::after {box-sizing: border-box;}

body {
  background-image: url(/img/background.png);
  background-size: 100% 100%;
  background-repeat: center;
}

header, section{
  background-color: rgba(196, 196, 196, 1);
}

.container {
  margin: 50px 231px 0px 231px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  'header experience experience'
  'header skills education'
  'languages skills education'
  'footer footer footer';
   
}

header{
  grid-area: header;
  height: 665px;
  width: 100%;
}

.me {
  position: relative;
  padding: 14px 14px 0px 14px;
}

.name {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: white;
}

li{ 
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 18px;
}

img {
  margin-right: 20px;

}

a {
  text-decoration: none;
  color: black;
  
}

li {
  font-size: 18px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.lorry {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  
}

.languages h4{
  margin-top: 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.languages {
  grid-area: languages;
  position: relative;
  height: 269px;
  width: 100%;
}

.manspeak {
  position: absolute;
  right: 24px;
  bottom: 14px;  
}

.experience {
  grid-area: experience;
  height: auto;
  width: auto;
  line-height: 2.0;
  text-align: center;
  font-size: 1.1250em;
  padding: 0px 134px 50px 134px;
  
}

.experience h1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 28px 0px 54px 0px;
}


.p {
  padding-top: 54px;
}

.skills h1{
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 20px 0px 34px 0px;
}

.skills {
  padding: 0px 20px;
  grid-area: skills;
  height: auto;
  width: auto;
}

.education {
  grid-area: education;
  height: auto;
  width: auto;
}

.p2 {
  margin-bottom: 20px;
}

h5 {
  display: flex;
  font-size: 2em;
  padding: 20px 0px 40px 0px;
}

.education img, p {
  padding: 0px 20px;
  margin-bottom: auto;
  
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 83px;
  width: auto;
}

@media screen and (max-width: 1520px) {
  .container {
    margin: 50px 231px 0px 231px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'header experience experience'
    'languages skills skills'
    'education education education'
    'footer footer footer';  
  }

  .education p{
padding: 0px 20px 20px 20px;
  }
  
}

@media screen and (max-width: 1420px) {
  .container {
    margin: 50px 131px 0px 131px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'header experience experience'
    'languages skills skills'
    'education education education'
    'footer footer footer';  
  }

  .education p{
    padding: 0px 20px 20px 20px;
      }
  
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 50px 20px 0px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'header experience experience'
    'languages skills skills'
    'education education education'
    'footer footer footer';  
  }

  .education p{
    padding: 0px 20px 20px 20px;
      }
  
}

@media screen and (max-width: 970px) {
  .container {
    margin: 50px 0px 0px 00px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'header experience experience'
    'languages skills skills'
    'education education education'
    'footer footer footer';  
  }

  .education p{
    padding: 0px 20px 20px 20px;
      }
  
}



